<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <section layout:fragment="content">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
                    <li class="breadcrumb-item active">Customer</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <h1 style="text-align: center">ADD CUSTOMER</h1>
        <form th:object="${customerRequest}" th:action="@{/admin/customer/add}" action="#" method="post"
              class="row g-3">
            <div>
                <label for="name"><b>Name:</b></label>
                <input type="text" id="name" th:field="*{name}" class="form-control"/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">có co</div>
            </div>


            <div>
                <label><b>Gender:</b></label>
                <input type="radio" th:field="*{gender}" th:value="false" th:text="Male" checked>
                <input type="radio" th:field="*{gender}" th:value="true" th:text="Female">
            </div>
            <div>
                <label><b>Birth Date:</b></label>
                <input type="date" th:field="*{birth_date}" class="form-control" required>
                <div th:if="${#fields.hasErrors('birth_date')}" th:errors="*{birth_date}" class="text-danger">Birth Date
                    error
                </div>
            </div>
            <div>
                <label><b>Phone:</b></label>
                <input type="text" th:field="*{phone}" class="form-control" required>
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger">Phone error</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Close</b>
                </button>
                <button type="submit" class="btn btn-success" id="btn"><b>ADD</b></button>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    </section>

</body>

</html>
