<!DOCTYPE html>
<html>

<head>
    <title>Email Template</title>
</head>
<div class='send-main' style="width: 100%">
    <span style="font-size: 20px">
        Kính gửi <span class='' style="font-weight: bold" th:text="${fullNameCustomer}"> fullName</span> !
    </span>
    <p>Chúc mừng! Chúng tôi xin gửi đến bạn một voucher giá trị để bạn có thể tận hưởng những trải nghiệm mua sắm thú vị
        trên trang web của chúng tôi. Đây là cách chúng tôi muốn tri ân sự ủng hộ và niềm tin mà bạn đã dành cho chúng
        tôi.
    </p>
    <p>Thông tin chi tiết về phiếu giảm giá:</p>
    <ul>
        <li> Mã giảm giá:
            <span class='' style="font-weight: bold" th:text="${codeVoucher}"> codeVoucher</span>
        </li>
        <li> Phiếu giảm giá có giá trị
            <span class='' style="font-weight: bold; color: red" th:text="${valueVoucher}"> valueVoucher</span>
            <span class='' style="font-weight: bold; color: rgb(255, 221, 0)" th:text="${conditionVoucher}"> conditionVoucher</span>
            </span>
        </li>
        <li>
            Phiếu giảm giá sẽ bắt đầu vào ngày
            <span class='' style="font-weight: bold" th:text="${#temporals.format(startTime, 'dd-MM-yyyy HH:mm')}">
                startTime</span>
            và kết thúc vào ngày
            <span class='' style="font-weight: bold" th:text="${#temporals.format(endTime, 'dd-MM-yyyy HH:mm')}">
                endTime</span>
        </li>
    </ul>
    <p>Hãy sử dụng mã voucher này trong quá trình thanh toán để nhận được ưu đãi đặc biệt từ chúng tôi. Đừng bỏ lỡ cơ
        hội này để mua sắm các sản phẩm chất lượng cao với mức giá ưu đãi hấp dẫn.</p>
    <p>Chúng tôi xin chân thành cảm ơn sự ủng hộ của Quý Khách và hy vọng sẽ tiếp tục phục vụ bạn tốt nhất có thể.</p>
    <p>Trân trọng,<br>BeePhone Shop</p>
</div>
<div class='' style="width: 86%; margin: 0 auto; margin-top: 20px">
    <span>
        Nếu bạn có bất kì câu hỏi nào, hoặc cần hỗ trợ về phiếu giảm giá. Vui lòng liên hệ với chúng tôi qua Hotline:
        <span class='' style="cursor: pointer">
            0367673799
        </span>
        hoặc Email:
        <span class='' style="cursor: pointer">
            thatv1212@gmail.com
        </span>!
    </span>
</div>
</div>
<p style="width: 100px; height: 150px" th:text="${message}">Default message</p>
</body>

</html>
