<!DOCTYPE html>
<html layout:decorate="~{user2/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shope</title>
</head>


<body layout:fragment="content">
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/index">Trang chủ</a>
                    <a class="breadcrumb-item text-dark" href="/product">Sản Phẩm</a>
                    <span class="breadcrumb-item active" th:text="${product.name}"></span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div th:class="${'carousel-item' + (index.index == 0 ? ' active' : '')}"
                            th:each="image, index : ${product.getAllImage()}">
                            <img class="w-100 h-100" th:src="${image}" th:alt="${index}">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3 th:text="${product.name}"></h3>
                    <div class="d-flex mb-3">
                        <div class="mr-2">
                            <span
                                th:utext="${convert.ratingAvager(product.getAverageRating(), product.getEvaluates().size())}"></span>
                        </div>
                    </div>
                    <p class="mb-4">Volup erat ipsum diam elitr rebum et dolor. Est nonumy elitr erat diam stet sit
                        clita ea. Sanc ipsum et, labore clita lorem magna duo dolor no sea
                        Nonumy</p>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Hoa văn:</strong>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline hovanchoose"
                                th:each="hoavan : ${product.patternTypes()}">
                                <input type="radio" class="custom-control-input hovanchoose"
                                    th:id="${'hoavan'+hoavan.id}" name="size"
                                    th:onclick="'openHoavan(\'hoavandiv' + ${hoavan.id} + '\')'"
                                    th:id-hovan="${'hoavandiv' + hoavan.id}">
                                <label class="custom-control-label" th:for="${'hoavan'+hoavan.id}"
                                    th:text="${hoavan.name}"></label>
                            </div>
                        </form>
                    </div>
                    <div class="mb-4 hoavandiv" th:each="pattensize : ${product.getListOptionProduct()}"
                        th:id="${'hoavandiv'+pattensize.get(0).idPattern.id}" style="display: none;">
                        <strong class="text-dark mr-3">Kích thước:</strong>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline"
                                th:each="productsize : ${pattensize}">
                                <input type="radio" class="custom-control-input product-chooese"
                                    th:id="${'productdetail1'+ productsize.id}" name="product"
                                    th:disabled="${productsize.quantity ==0 }" th:id-product="${productsize.id}"
                                    th:product-quantity="${productsize.quantity}">
                                <label class=" custom-control-label" th:for="${'productdetail1'+ productsize.id}"
                                    th:text="${productsize.idSize.name +' - '+ #strings.replace(#numbers.formatDecimal(productsize.price, 0, 'COMMA', 2, 'POINT'), '.00', '') + ' VNĐ'}"></label>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1"
                                id="quantitypr">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3" onclick="addToCart()"><i
                                class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng
                        </button>
                    </div>
                    <!-- <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Share on:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Mô tả</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Thông tin</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Đánh giá (<span
                                th:text="${product.getEvaluates().size()}"></span>)</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Mô tả sản phẩm</h4>
                            <div th:utext="${product.description}">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">Thông tin chi tiết</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0" th:if="${product.idOrigin}">
                                            Nguồn gốc
                                        </li>
                                        <li class="list-group-item px-0" th:if="${product.idBrand}">
                                            Thương hiệu
                                        </li>
                                        <li class="list-group-item px-0" th:if="${product.idMaterial}">
                                            Chất liệu
                                        </li>
                                        <li class="list-group-item px-0" th:if="${product.idStyles}">
                                            Kiểu dáng
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0" th:if="${product.idOrigin}"
                                            th:text="${product.idOrigin?.name}">
                                            Nguồn gốc
                                        </li>
                                        <li class="list-group-item px-0" th:if="${product.idBrand}"
                                            th:text="${product.idBrand?.name}">
                                            Thương hiệu
                                        </li>
                                        <li class="list-group-item px-0" th:if="${product.idMaterial}"
                                            th:text="${product.idMaterial?.name}">
                                            Chất liệu
                                        </li>
                                        <li class="list-group-item px-0" th:if="${product.idStyles}"
                                            th:text="${product.idStyles?.name}">
                                            Kiểu dáng
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="mb-4"><span th:text="${product.getEvaluates().size()}"></span> đánh giá
                                        cho <span th:text="${product.name}"></span></h4>
                                    <div class="media mb-4" th:each="danhgia :  ${product.getEvaluates()}">
                                        <img th:src="${danhgia.customer?.account?.image}" alt="Image"
                                            class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6><span th:text="${danhgia.customer?.name}"></span><small> - <i
                                                        th:text="${#temporals.format(danhgia.created_at, 'HH:mm dd/MM/yyyy')}"></i>
                                                </small></h6>
                                            <div class="d-flex mb-1">
                                                <span th:utext="${convert.rating(danhgia.start)}"></span>
                                            </div>
                                            <p th:text="${danhgia.description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm
                liên quan</span></h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    <div class="product-item bg-light" th:each="productrs : ${productrelasze}">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100"
                                th:if="${productrs != null and productrs.getAllImage().size() > 0}"
                                th:src="${productrs.getAllImage().get(0)}" alt="">
                        </div>
                        <div class="text-center py-2">
                            <a class="h6 text-decoration-none text-truncate"
                                th:href="@{'/product/detail/'+${productrs.id}}" th:text="${productrs.name}"></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5
                                    th:text="${#strings.replace(#numbers.formatDecimal(productrs.getMinPrice(), 0, 'COMMA', 2, 'POINT'), '.00', '') + ' VNĐ '}">
                                </h5>
                                <h5 th:if="${productrs.getMinPrice() < productrs.getMaxPrice()}"
                                    th:text="' - ' + ${#strings.replace(#numbers.formatDecimal(productrs.getMaxPrice(), 0, 'COMMA', 2, 'POINT'), '.00', '') + ' VNĐ'}">
                                </h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <span
                                    th:utext="${convert.ratingAvager(productrs.getAverageRating(), productrs.getEvaluates().size())}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->
    <script th:src="@{/assets/js/user/product/details.js}"></script>
</body>

</html>
