<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">
    <script src="https://kit.fontawesome.com/e56307bebd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/dist/simple-notify.min.css}" rel="stylesheet">
    <title>Bảng Điều Khiển</title>
    <script th:src="@{/assets/js/errormage/errorhtmltag.js}"></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a th:href="@{/admin}" class="logo d-flex align-items-center">
                <img th:src="@{/assets/img/logo.png}" alt="">
                <span class="d-none d-lg-block">Wamercy</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <!-- <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div> -->
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                <li th:if="${session.authenemployee}" class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="${session.authenemployee.image}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2"
                            th:text="${session.authenemployee.name}"></span>
                    </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6 th:text="${session.authenemployee.name}"></h6>
                            <span th:text="${session.authenemployee.roles?.name}"></span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form th:action="@{/admin/employee/detailAccount/{id}(id=${session.authenemployee.id})}">
                                <button class="dropdown-item d-flex align-items-center" type="submit">
                                    <i class="bi bi-person"></i>
                                    <span>Tài khoản của bạn</span>
                                </button>
                            </form>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <form th:action="@{/admin/employee/detail-account/{id}(id=${session.authenemployee.id})}">
                                <input type="hidden" name="_method" value="post">
                                <button class="dropdown-item d-flex align-items-center" type="submit">
                                <i class="bi bi-gear"></i>
                                <span>Cập nhật thông tin</span>
                                </button>
                            </form>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/signOut}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
                <li th:unless="${session.authenemployee}" class="nav-item dropdown pe-3">
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/signOut}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " th:href="@{/admin/pages/dashboard}">
                    <i class="bi bi-grid"></i>
                    <span>Tổng quan</span>
                </a>
            </li><!-- End Dashboard Nav -->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link " th:href="@{/admin/voucher}">-->
<!--                    <i class="bi bi-cash-coin"></i><span>Phiếu Giảm Giá</span>-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link " th:href="@{/admin/counter}">
                    <i class="bi bi-cart4"></i><span>Bán hàng tại quầy</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/admin/managerproduct}">
                    <i class="bi bi-box-seam"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link " th:href="@{/admin/bill}">
                    <i class="bi bi-card-list"></i>
                    <span>Hóa Đơn</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Customer-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people-fill"></i><span>Khách Hàng</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Customer-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/customer/get-all}">
                            <i class="bi bi-circle"></i><span>Khách Hàng</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/account}">
                            <i class="bi bi-circle"></i><span>Tài Khoản</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->
            <!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Employee-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-circle"></i><span>Nhân Viên</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Employee-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/employee/hien-thi}">
                            <i class="bi bi-circle"></i><span>Nhân Viên</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/roles/hien-thi}">
                            <i class="bi bi-circle"></i><span>Chức Vụ</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Employee Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-box-fill"></i><span>Quản lý thuộc tính</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/pattern/dsPattern}">
                            <i class="bi bi-circle"></i><span>Kiểu Hoa Văn</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/origin/dsOrigin}">
                            <i class="bi bi-circle"></i><span>Nhà Sản Xuất</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/size/dsSize}">
                            <i class="bi bi-circle"></i><span>Kích Thước</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/style/dsStyle}">
                            <i class="bi bi-circle"></i><span>Kiểu Dáng</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/material/dsMaterial}">
                            <i class="bi bi-circle"></i><span>Chất Liệu</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/brand/dsBrand}">
                            <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/category/dsCategory}">
                            <i class="bi bi-circle"></i><span>Công dụng</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Charts Nav -->
        </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <section class="section dashboard">
            <div class="content-wrapper" layout:fragment="content">
            </div>
        </section>
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
    </footer><!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
    <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
    <script th:src="@{/assets/dist/simple-notify.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js"
        integrity="sha512-d5Jr3NflEZmFDdFHZtxeJtBzk0eB+kkRXWFQqEc1EKmolXjHm2IKCA7kTvXBNjIYzjXfD5XzIjaaErpkZHCkBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.js"
        integrity="sha512-Fd3EQng6gZYBGzHbKd52pV76dXZZravPY7lxfg01nPx5mdekqS8kX4o1NfTtWiHqQyKhEGaReSf4BrtfKc+D5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</body>

</html>
