<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="date"] {
            width: 300px;
            padding: 5px;
        }
        select {
            width: 315px;
            padding: 5px;
        }
    </style>
</head>
<!--Image-->

<body>
<section layout:fragment="content">
    <div class="pagetitle">
        <h1>Nhân Viên</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Trang Chủ</a></li>
                <li class="breadcrumb-item active">Thêm Nhân Viên</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var output = document.getElementById('preview');
                output.src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

    <div th:if="${validateerrors}" class="alert alert-danger" role="alert" th:text="${validateerrors}"></div>

    <form th:object="${employeeRequest}" enctype="multipart/form-data" th:action="@{/admin/employee/add}" action="#" method="post">
                    <div class="register-form">
                        <div class="row">
                            <div class="col-md-4 border-right">
                                <div class="d-flex flex-column align-items-center text-center px-3">
                                    <div class="mt-3">
                                        <label class="h3"><strong>Hình Ảnh</strong></label>
                                    </div>
                                    <div class="avatar-upload m-0 w-100" style="max-width: 100%;">
                                        <label class="rounded-0 w-100 d-flex justify-content-center">
                                            <div class="avatar-preview rounded-0" style="width: 250px; height: 280px">
                                                <img id="imagePreview" class="w-100 rounded-0" src="/images/faces/no_image.jpg" width="250px" height="280px" style="border: 1px solid #0d3ddc; padding: 10px;border-radius: 50%;" />
                                            </div>
                                        </label>
                                        <div class="form-group">
                                            <input class="form-control" type="file" id="formFile" th:value="${employeeRequest.image}" name="imageFiles" multiple onchange="previewImage(event)">
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-8 border-right">
                                <div class="p-3 ">

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-6 mb-3">
                                            <label class="form-label font-weight-bold">Email</label>
                                            <input th:field="*{email}"  class="form-control" th:value="${employeeRequest.email}"
                                                   placeholder="Hãy nhập email" />
                                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-6 mb-3">
                                            <label class="form-label font-weight-bold">Họ và Tên:</label>
                                            <input  th:field="*{name}" th:value="${employeeRequest.name}"
                                                    class="form-control" type="text"   placeholder="Hãy họ tên">
                                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Chức vụ:</label>
                                            <select name="roles" class="form-control">
                                                <option th:each="role : ${roles}" th:value="${role.id}"
                                                        th:selected="${role.id == roles}">
                                                    <span th:text="${role.name}"></span>
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Giới tính</label>
                                            <select class="form-control" th:field="*{gender}" th:value="${employeeRequest.gender}" name="gender" id="gender">
                                                <option value="true">Nam</option>
                                                <option value="false">Nữ</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-6 mb-3">
                                            <label class="form-label font-weight-bold">Điện
                                                thoại</label>
                                            <input th:field="*{phone}" name="phone"   type="text" class="form-control" th:value="${employeeRequest.phone}"
                                                   placeholder="Hãy nhập số điện thoại" />
                                            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-6 mb-3">
                                            <label class="form-label font-weight-bold">Số Căn
                                                Cước</label>
                                            <input th:field="*{cccd}" name="cccd"   class="form-control" th:value="${employeeRequest.cccd}"
                                                   placeholder="Hãy nhập số Căn cước" />
                                            <div th:if="${#fields.hasErrors('cccd')}" th:errors="*{cccd}" class="text-danger"></div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Birth
                                                Date:</label>
                                            <input type="date" th:field="*{birth_date}" name="birth_date" th:value="${employeeRequest.birth_date}"
                                                   class="form-control">
                                            <div th:if="${#fields.hasErrors('birth_date')}" th:errors="*{birth_date}" class="text-danger"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Thành
                                                Phố:</label>
                                            <select class="form-control" id="Provinces"  name="address" th:field="*{address}"
                                                    onchange="getDistricts()">
                                            </select>

                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Huyện:</label>
                                            <select class="form-control" id="Districts" name="city" th:field="*{city}"
                                                    onchange="getWards()">
                                            </select>

                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Xã:</label>
                                            <select class="form-control" name="country"  th:field="*{country}"
                                                    onchange="setFullAdress()" id="Wards">
                                            </select>
                                            <input type="hidden" id="FullAddress" name="fulladdress"  th:field="*{fulladdress}">
                                            <script
                                                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                                                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                                                    crossorigin="anonymous"></script>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-lg-6 mb-3">
                                            <label class="form-label font-weight-bold">Địa chỉ cụ
                                                thể:</label>
                                            <input name="address" th:field="*{address}" th:value="${employeeRequest.address}"  class="form-control"
                                                   placeholder="Địa chỉ cụ thể..." />
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                                            <label class="form-label font-weight-bold">Trạng Thái</label>
                                            <select class="form-control" th:field="*{status}" th:value="${employeeRequest.status}" id="status" name="status">
                                                <option value="0">Không Hoạt Động</option>
                                                <option value="1">Hoạt Động</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right">
                        <a type="button" class="btn btn-danger" th:href="@{/admin/employee/hien-thi}">
                            <i class="fas fa-arrow-left"></i> Thoát
                        </a>
                        <button id="btn" type="submit" class="btn btn-primary">Lưu</button>
                    </div>
    </form>


    <script>
        const btn = document.querySelector('#btn')
        btn.addEventListener('click', () => {
            new Notify ({
                status: 'success',
                title: 'Thêm thành công',
                text: '',
                effect: 'slide',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: false,
                autoclose: true,
                autotimeout: 2000,
                gap: 20,
                distance: 20,
                type: 1,
                position: 'right bottom',
                customWrapper: '',
            })
        })
    </script>

    <script>
    const token = "234a71c7-7b2c-11ee-af43-6ead57e9219a";
    const shop_id = 4676018;
    const districtform = 3440; // quận nam từ liêm
    const districtto = 3308; // huyện trực ninh
    const WardCodeninhcuong = "800083";
    const provinceSelect = document.getElementById("Provinces");
    const districtSelect = document.getElementById("Districts");
    const wardSelect = document.getElementById("Wards");
    const shipServiceSelect = document.getElementById("shipService");
    const giaship = document.getElementById("giaship");

    function getProvinces() {
    fetch("https://online-gateway.ghn.vn/shiip/public-api/master-data/province",{
    method: "GET",
    headers: {
    "Content-Type": "application/json",
    token: token,
    },
    })
    .then((res) => res.json())
    .then((data) => {
    const defaultOption = document.createElement("option");
    defaultOption.value = ""; // Set the value as needed
    defaultOption.textContent = "Chọn Tỉnh"; // Set the text content
    // Set the 'disabled' and 'selected' attributes to make it the default option
    defaultOption.disabled = true;
    defaultOption.selected = true;
    provinceSelect.appendChild(defaultOption);
    const options = data.data;
    for (let i = 0; i < options.length; i++) {
    const option = document.createElement("option");
    option.value = options[i].ProvinceID; // Set the value of the option (you can change this to any value you want)
    option.text = options[i].ProvinceName; // Set the text of the option
    option.setAttribute("providecode",options[i].ProvinceID);
    provinceSelect.appendChild(option); // Add the option to the select element
    }
    })
    .catch((error) => console.error("Error:",error));
    }

    function getDistricts() {
    const selectedOption = provinceSelect.options[provinceSelect.selectedIndex];
    const customAttribute = selectedOption.getAttribute("providecode");
    const provinceid = parseInt(customAttribute);
    fetch("https://online-gateway.ghn.vn/shiip/public-api/master-data/district",{
    method: "POST",
    headers: {
    "Content-Type": "application/json",
    token: token,
    },
    body: JSON.stringify({ province_id: provinceid }),
    })
    .then((res) => res.json())
    .then((data) => {
    //remove all child
    resetDistrict();
    const options = data.data;
    for (let i = 0; i < options.length; i++) {
    const option = document.createElement("option");
    option.value = options[i].DistrictID; // Set the value of the option (you can change this to any value you want)
    option.text = options[i].DistrictName; // Set the text of the option
    option.setAttribute("districtcode",options[i].DistrictID);
    districtSelect.appendChild(option); // Add the option to the select element
    }
    })
    .catch((error) => console.error("Error:",error));
    }

    function getWards() {
    const selectedOption = districtSelect.options[districtSelect.selectedIndex];
    const customAttribute = selectedOption.getAttribute("districtcode");
    const districtid = parseInt(customAttribute);
    fetch("https://online-gateway.ghn.vn/shiip/public-api/master-data/ward",{
    method: "POST",
    headers: {
    "Content-Type": "application/json",
    token: token,
    },
    body: JSON.stringify({ district_id: districtid }),
    })
    .then((res) => res.json())
    .then((data) => {
    //remove all child
    resetWard();
    const options = data.data;
    for (let i = 0; i < options.length; i++) {
    const option = document.createElement("option");
    option.value = options[i].WardCode; // Set the value of the option (you can change this to any value you want)
    option.text = options[i].WardName;
    // Set the text of the option
    wardSelect.appendChild(option); // Add the option to the select element
    }
    })
    .catch((error) => console.error("Error:",error));
    }

    function setFullAdress() {
    const proselect = provinceSelect.options[provinceSelect.selectedIndex];
    const proname = proselect.text;
    const districselect = districtSelect.options[districtSelect.selectedIndex];
    const distname = districselect.text;
    const wardName = wardSelect.options[wardSelect.selectedIndex];
    const wardname = wardName.text;
    const fullAdress = wardname + ", " + distname + " ," + proname;
    document.getElementById("FullAddress").value = String(fullAdress);
    console.log(fullAdress)
    }

    function resetDistrict() {
    while (districtSelect.firstChild) {
    districtSelect.removeChild(districtSelect.firstChild);
    }
    const defaultOption = document.createElement("option");
    defaultOption.value = ""; // Set the value as needed
    defaultOption.textContent = "Chọn Quận/ Huyện"; // Set the text content

    // Set the 'disabled' and 'selected' attributes to make it the default option
    defaultOption.disabled = true;
    defaultOption.selected = true;

    districtSelect.appendChild(defaultOption);
    resetWard();
    }

    function resetWard() {
    while (wardSelect.firstChild) {
    wardSelect.removeChild(wardSelect.firstChild);
    }
    const defaultOption = document.createElement("option");
    defaultOption.value = ""; // Set the value as needed
    defaultOption.textContent = "Chọn Thị Trấn/ Xã/ Phường"; // Set the text content

    // Set the 'disabled' and 'selected' attributes to make it the default option
    defaultOption.disabled = true;
    defaultOption.selected = true;

    wardSelect.appendChild(defaultOption);
    }

    getProvinces();
    </script>




    <script src="jquery.min.js"></script>
    <script>
        function previewImage(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('imagePreview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</section>
</body>

</html>
